*{
    font-family: 'Montserrat', sans-serif;
}
@import "componentes/header";
@import "componentes/menu-desplegable";
@import  "base/variables";
@import  "componentes/main";
@import "componentes/home";
@import "media-querys/home-mq";
@import "componentes/contacto";
@import "media-querys/contacto-mq";
@import "componentes/sobrenosotros";
@import "media-querys/sobrenosotros-mq";
@import "componentes/login";
@import "media-querys/login-mq";
@import "componentes/sign";
@import "media-querys/sign-mq";
@import "base/extend";
@import "componentes/footer";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
