@mixin botones {
  font-weight: bold;
  font-size: 19px;
}
@mixin logo {
  width: 160px;
  margin: 5px;
  border-radius: 35px;
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
  transition: all 0.03s ease;
}

@mixin nav-a {
  font-size: 17px;
  color: $color-claro;
  // font-weight: bold;
  transition: all 0.3s ease;
  text-shadow: 0px 0px 4px rgb(5, 5, 5);
}

@mixin logo-active {
  outline: 1.5px solid rgba(42, 44, 52, 0.09);
  transform: scale(0.98);
  box-shadow: none;
}

@mixin shadow{
  box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.35);
}
