@import "../base/mixin";

@media (min-width:768px){
    .home{
        background-color: tomato !important;
    //    padding: 5%;
        &__welcome{
           padding: 3%;
           
        }
        &__images-img{
            width: 200px;
        }
    }
}
    @media (min-width:1300px) {
        .home{
            .home__welcome{
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: tomato;
                grid-column: 1/2 ;
                .home__images{
                    background-color: red;
                    grid-column: 2/3 ;
                    grid-row: 1/4;
                }
            }
        }
    }