@import "../base/mixin";
@import "../base/variables";

@media (min-width:768px){
    .home{
        background-color: tomato ;
    //    padding: 5%;
        &__welcome{
           padding: 3%;
           
        }
        &__images-img{
            width: 200px;
        }
    }
}
    @media (min-width:1300px) {
        .home{
            .home__welcome{
                display: grid;
                grid-template-columns: 1fr 1fr;
  
                grid-column: 1/2 ;
                .home__images{
                   
                    grid-column: 2/3 ;
                    grid-row: 1/5;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                   &-img{
                    width: 300px;
                   }
                }
            }
        }
    }