@import "../base/variables";
@import "../base/extend";

@media (max-width: 420px) {
  .form-sign__date-img {
    display: none;
  }
}

@media (min-width: 768px){
  main div.form-sign-container{
    margin: 0 10px;
    padding: 2% 10%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .form-sign {
      padding: 5% 5%;
      width: 100%;
      height: 100%;
      border-radius: 5px 0 0 5px;
     margin: 0;
    }
     .sign-img {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 0 5px 5px 0;
      box-shadow: 0px 0px 14px 2px rgba(42, 44, 52, 0.5);
      background-image: url("../../img/celular.png");
      background-position: center;
      background-size: cover;
      flex-direction: column;
      justify-content: start;
      animation: card 1s ease-in;
      &__login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
        &-text {
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 5px;
          padding: 5px;
          margin: 0;
          color: white;
        }
        &-link {
          @extend .sign-img__login-text;
          color: green;
        }
      }
      &__h2,
      &__p {
        margin: 7% 0;
        color: whitesmoke;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  main div.form-sign-container {
    padding: 2% 10%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .form-sign {
      padding: 25% 5%;
      justify-content: space-between;
      &__date
       {
        &-img {
          width: 40px;
        }
      }
      &__additional-remember {
        display: flex;
        justify-content: center;
        gap: 15px;
        font-size: 20px;
        &-check {
          scale: 2;
        }
      }

      hr {
        display: none;
      }
      &__login {
        display: none;
      }
    }
  }
}
