@import "../base/mixin";
@import "../base/variables";

@media (min-width:768px){
    .nosotros{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 0.2fr 0.5fr 1fr;
        
        img{
            grid-column: 1/2;
            grid-row: 1/7;
            margin: 0 5% 3% 0;
            width: 100%;
        }
        h3{
            padding-left: 5%;
        }
        h4{
            grid-column: 1/3;
        }
    }
}
