@import "../base/mixin";
@import "../base/variables";

.home{
    // background-image: url("../../img/smartmockups_lkc9yaa2.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: black;
    &__welcome{
        background-color: whitesmoke;
        padding: 10%;
        text-shadow: 5px 3px 5px  black;
        &-h2{
            margin: 0;
        }
        &-h3{
            margin: 0;
            
        }

    }
    &__images-img{
        width: 100px;
    }
}