@import "../base/variables";

.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .form {
   @extend %card-user;
    background-color: whitesmoke;
    
    &__tittle {
      color: black;
      text-align: center;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 20px; 
    }

    &__date {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-around;
      &-input {
        width: 80%;
        border: 0;
        border-radius: 5px;
        @include shadow;
        height: 40px;
      }
      &-img{
        width: 40px;
      }
    }

    &__additional-remember {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin-bottom: 17px;

      &-text {
        margin: 0;
      }
    }
    &__additional-link {
      color: rgba(255, 0, 0, 0.90);
      text-align: center;
      text-decoration: none;
      font-size: 15px;
    }

    &__submit{
      border: none;
      @include shadow;
      background-color: rgba(0, 60, 255, 0.8);
      color: whitesmoke;
      border-radius: 5px;
      height: 50px;
    }

   &__social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-icon{
      margin: 10px;
      &-img{
        width: 30px;
      }
    }
   }
   &__signup{
      text-align: center;
      margin: 10px;
      
      &-text{
        margin: 0;
      }
      &-link{
        color: red;
        font-size: 20px;
        text-decoration: none;
        
      }
   }
  }
}
