@import "../base/variables";

.form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .form {
   @extend %card-user;
    padding: 15% 6%;
    background-color: $bg-login;
    border: 1px solid rgba(3, 104, 3, 0.952);
    
    &__tittle {
      color: black;
      text-align: center;
      font-weight: bold;
      text-decoration: underline;
      margin-bottom: 20px; 
    }

    &__date {
      margin-bottom: 15px;
      &:nth-child(2) {
        margin-bottom: 9px;
      }
      &-input {
        border-radius: 5px;
        border: 0;
      }
    }

    &__additional-remember {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 17px;

      &-text {
        margin: 0;
      }
    }
    &__additional-link {
      color: rgba(255, 0, 0, 0.90);
      text-align: center;
      text-decoration: none;
      font-size: 15px;
    }

    &__submit{
        background-color: $bg-login;
        border-radius: 3px;
        border: 1px solid $bg-login-border;
        color: black;
        font-weight: bold;
        margin-bottom: 30px;
    }

   &__social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-icon{
      margin: 10px;
      &-img{
        width: 30px;
      }
    }
   }
   &__signup{
      text-align: center;
      margin: 10px;
      
      &-text{
        margin: 0;
      }
      &-link{
        color: red;
        font-size: 20px;
        text-decoration: none;
        
      }
   }
  }
}
